.profilecontainer{
    position: absolute;
}
.infosection > img{
    position: absolute;
    width: 104px;
    height: 104px;
    left:295px;
    top:120px;
}
.infosection > h3{
    position: absolute;
width: 233px;
height: 41px;
top:250px;
left:230px;
font-family: 'Maven Pro';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 41px;
text-align: center;

color: #000000;

}
 .karmacontainer{
    position: absolute;
top:350px;
left:130px;
font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height */
color: rgba(37, 38, 68, 0.5);
}
.actcontainer{
    position: absolute;
width: 1200px;
height: 24px;
left :430px;
top:350px;
font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height */
color: rgba(37, 38, 68, 0.5);
}
.linkcontainer{
    width: 700px;
text-align: center;
}
.setting{
    font-size: 24px;
    padding-top: 28px;
    position: absolute;
width: 400px;
height: 100px;
left : 150px;
top: 500px;
background: #F4F6F9;
border-radius: 14px;
}
.notify{
    font-size: 24px;
    position: absolute;
width: 400px;
height: 100px;
top: 620px;
left : 150px;
padding-top: 28px;
background: #F4F6F9;
border-radius: 14px;
}
.post{
position: absolute;
width: 400px;
height: 150px;
top: 740px;
left : 150px;
padding-top: 15px;
background: #F4F6F9;
border-radius: 14px;
}
.edit{
    position: absolute;
width: 158px;
height: 72px;
left: 130px;
top: 120px;

background: #00E4A1;
box-shadow: 0px 14px 30px rgba(0, 228, 161, 0.2);
border-radius: 50px;
}